/* Herda container da shared.css */
.dashboard-container {
  display: flex;
  flex-direction: column;
}
/* Títulos, Entradas e Saldo */
/* Herda header da shared.css */
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Títulos e Entradas Fixas */
.header-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  width: 70%;
}
/* Botão de Entradas Fixas */
.btn-view-entries {
  background-color: var(--color-entries);
  color: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.9rem;
  transition: background 0.3s;
}
.btn-view-entries:hover {
  background-color: var(--color-entries-hover);
}
/* Container dos Cards de Saldo e Previsão */
.header-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 30%;
    gap: 15px;
}
/* Estilo Base do Card (Comum aos dois) */
.dashboard-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.dashboard-card span {
  font-size: 0.9rem;
  opacity: 0.9;
}

.dashboard-card strong {
  font-size: 1.5rem;
  font-weight: 700;
}

/* Card Específico: Saldo (Verde/Azul original) */
.balance-card {
  background: linear-gradient(135deg, #2ecc71, #27ae60);
  color: white;
}

.prediction-card {
  background-color: #ecf0f1; /* Cinza claro */
  border: 1px solid #bdc3c7;
  color: #7f8c8d;
}

/* Graphs Layout */
.dashboard-grid {
  display: flex;
  flex-direction: row;
  height: 75%;
  width: 100%;
  padding: 0px;
  gap: 20px;
}