/* DEFINIÇÕES PARA A PÁGINA INTEIRA */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* Cores de Títulos */
  --color-title: #2c3e50;
  --color-subtitle: #7f8c8d;

  /* Cores de Entradas e Saídas */
  --color-entries: #27ae60;
  --color-entries-hover: #219150;
  --color-expenses: #c0392b;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  /* width: 100vw;
  height: 100vh; */
}